
.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid var(--ion-color-light);
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.1rem;
}

.name {
  font-weight: bold;
}
